BasedOnStyle: Google

IndentWidth: 4
# no column limit
ColumnLimit: 0

AlignTrailingComments: true
AlignAfterOpenBracket: true
IndentRequires: false

# puts public, private, on the same column with class definition
AccessModifierOffset: -4