---
Checks: >
  -*,
  readability-identifier-naming,
  readability-named-parameter,
  readability-inconsistent-declaration-parameter-name,
  readability-const-return-type,
  cppcoreguidelines-pro-*,
#  cppcoreguidelines-macro-usage,
#  cppcoreguidelines-missing-std-forward,
#  cppcoreguidelines-narrowing-conversions,
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
User:            zwischen
CheckOptions:
  - {key: readability-identifier-naming.VariableCase, value: lower_case}
  - {key: readability-identifier-naming.GlobalVariableCase, value: UPPER_CASE}
  - {key: readability-identifier-naming.GlobalConstantCase, value: lower_case}
  - {key: readability-identifier-naming.FunctionCase, value: lower_case}
  - {key: readability-identifier-naming.ClassCase, value: CamelCase}
  - {key: readability-identifier-naming.StructCase, value: CamelCase}
  - {key: readability-identifier-naming.PrivateMemberCase, value: lower_case}
  - {key: readability-identifier-naming.PrivateMemberPrefix, value: _}
  - {key: readability-identifier-naming.PrivateMethodCase, value: lower_case}
  - {key: readability-identifier-naming.PrivateMethodPrefix, value: _}
  - {key: readability-identifier-naming.ProtectedMemberCase, value: lower_case}
  - {key: readability-identifier-naming.ProtectedMemberPrefix, value: _}
  - {key: readability-identifier-naming.ProtectedMethodCase, value: lower_case}
  - {key: readability-identifier-naming.ProtectedMethodPrefix, value: _}
  - {key: readability-identifier-naming.EnumCase, value: CamelCase}
  - {key: readability-identifier-naming.EnumConstantCase, value: lower_case}
  - {key: readability-identifier-naming.NamespaceCase, value: lower_case}
  - {key: readability-identifier-naming.MacroCase, value: UPPER_CASE}
  - {key: readability-identifier-naming.ParameterCase, value: lower_case}
