# cmake folders
build/
debug/
qsyn*
!src/qsyn*
!src/qsyn/qsyn*

# vscode configuration files and folders
.vscode

# mac configuration files and folders
.DS_Store

# vim configuration files and folders
.cache/
compile_commands.json

# doxygen, sphinx, and other documentation files and folders
docs/_build/
docs/_doxygen/
docs/dev/api/
docs/doc-coverage.info

decompose
result.qasm
