# cmake folders
build/
debug/
qsyn*
!src/qsyn*
!src/qsyn/qsyn*

# vscode configuration files and folders
.vscode

# mac configuration files and folders
.DS_Store

# vim configuration files and folders
.cache/
compile_commands.json
