name: gcc test (Ubuntu)

on:
  push:
    branches: [main, develop]
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [main, develop]
  workflow_dispatch: # allow manual triggering of the workflow

jobs:
  build-and-test:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3
      - name: Build the test docker image
        run: docker build -t qsyn-test-gcc -f docker/gcc-test.Dockerfile .
      - name: Run the test docker image
        run: docker run --rm --security-opt seccomp=unconfined -v "$(pwd)":/app/qsyn qsyn-test-gcc
